# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
GameServer/GameServer/x64/
ServerCore/ServerCore/x64/Debug/ServerCore.tlog/CL.write.1.tlog
ServerCore/ServerCore/x64/
TestClient/TestClient/x64/
